.container {
  display: grid;
  grid-template-columns: 1fr minmax(40%, auto);
  grid-auto-flow: dense;
  height: 100%;

  .black_overlay {
    position: absolute;
    width: 100%;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .info-container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    position: relative;
    background: url('/assets/meetingroom.jpg') no-repeat center center;
    height: inherit;
    color: #fff;

    .info-title {
      font-size: 2.2rem;
      font-weight: bold;
      color: #fff;
      z-index: 10;
    }

    .info-detail {
      text-align: center;
      z-index: 10;
    }
  }

  .form-container {
    padding: 4rem;

    .form-title {
      font-size: 2rem;
      font-weight: bold;
    }

    .link-container {
      text-align: center;
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: auto;
  }
}
